openapi: 3.0.2
#
info:
  version: 21.4.0.20210824.002
  title: Payment Gateway API Specification.
  description: "The documentation here is designed to provide all of the technical guidance required to consume and integrate with our APIs for payment processing. To learn more about our APIs please visit https://docs.firstdata.com/org/gateway."
servers:
  - url: 'https://cert.api.firstdata.com/gateway/v2'
paths:
  /payments:
    post:
      tags:
        - Payment
      x-proxy-name: 'Create Primary Transaction'
      summary: Generate a primary transaction.
      description: Use this to originate a financial transaction like a sale, preauthorization, or credit.
      operationId: submitPrimaryTransaction
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrimaryTransaction'
        description: 'Accepted request types: AliPaySaleTransaction, ChinaPnRSaleTransaction, PaymentCardCreditTransaction, PaymentCardForcedTicketTransaction, PaymentCardSaleTransaction, PaymentCardPreAuthTransaction, PaymentCardPayerAuthTransaction, PaymentCardDisbursementTransaction, PaymentTokenCreditTransaction, PaymentTokenPreAuthTransaction, PaymentTokenSaleTransaction, PaymentTokenDisbursementTransaction, PaypalCreditTransaction, SepaSaleTransaction, SepaCreditTransaction, WalletSaleTransaction, and WalletPreAuthTransaction, PaymentDeviceSaleTransaction, PaymentDevicePreAuthTransaction, PaymentDeviceCreditTransaction, PaymentDeviceDisbursementTransaction, AchPreAuthTransaction, AchSaleTransaction, AchCreditTransaction.'
        required: true
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthenticated'
        403:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/TransactionGatewayDeclined'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        422:
          $ref: '#/components/responses/TransactionEndpointDeclined'
        500:
          $ref: '#/components/responses/ServerError'
        502:
          $ref: '#/components/responses/EndpointCommunicationError'
  /payments/{transaction-id}:
    get:
      tags:
        - Payment
      x-proxy-name: 'Transaction Inquiry'
      summary: Retrieve the state of a transaction.
      description: Use this query to get the current state of an existing transaction.
      operationId: transactionInquiry
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
        - $ref: '#/components/parameters/TransactionIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthenticated'
        403:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/TransactionGatewayDeclined'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        422:
          $ref: '#/components/responses/TransactionEndpointDeclined'
        500:
          $ref: '#/components/responses/ServerError'
        502:
          $ref: '#/components/responses/EndpointCommunicationError'
    patch:
      tags:
        - Payment
      x-proxy-name: 'Finalize Secure Transaction'
      operationId: finalizeSecureTransaction
      summary: Update a 3DSecure or UnionPay payment and continue processing. # APAC only: UnionPay
      description: Use this to handle a 3DSecure redirect response or UnionPay authentication, updating the transaction and continuing processing.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
        - $ref: '#/components/parameters/TransactionIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationUpdateRequest'
        required: true
        # APAC only: UnionPayAuthenticationUpdateRequest
        description: 'Accepted request types: Secure3DAuthenticationUpdateRequest, Secure3D10AuthenticationUpdateRequest, Secure3D21AuthenticationUpdateRequest and UnionPayAuthenticationUpdateRequest.'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthenticated'
        403:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/TransactionGatewayDeclined'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        422:
          $ref: '#/components/responses/TransactionEndpointDeclined'
        500:
          $ref: '#/components/responses/ServerError'
        502:
          $ref: '#/components/responses/EndpointCommunicationError'
    post:
      tags:
      - Payment
      x-proxy-name: 'Secondary Transaction'
      summary: Perform a secondary transaction.
      description: Use this to perform a void, postAuth or return secondary transaction. Partial postAuths and returns are allowed.
      operationId: submitSecondaryTransaction
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
        - $ref: '#/components/parameters/TransactionIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      requestBody:
        $ref: '#/components/requestBodies/SecondaryTransaction'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthenticated'
        403:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/TransactionGatewayDeclined'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        422:
          $ref: '#/components/responses/TransactionEndpointDeclined'
        500:
          $ref: '#/components/responses/ServerError'
        502:
          $ref: '#/components/responses/EndpointCommunicationError'
  /orders/{order-id}:
    post:
      tags:
        - Order
      x-proxy-name: 'Order-Based Secondary Transactions'
      summary: Perform return or postAuth secondary transactions.
      description: Use this to perform a postAuth or return secondary transaction using order ID. Partial postAuths and returns are allowed.
      operationId: submitSecondaryTransactionFromOrder
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
        - $ref: '#/components/parameters/OrderIdParam'
      requestBody:
        $ref: '#/components/requestBodies/SecondaryTransaction'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthenticated'
        403:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/TransactionGatewayDeclined'
        422:
          $ref: '#/components/responses/TransactionEndpointDeclined'
        500:
          $ref: '#/components/responses/ServerError'
        502:
          $ref: '#/components/responses/EndpointCommunicationError'
    get:
      tags:
        - Order
      x-proxy-name: 'Order Inquiry'
      summary: Retrieve the state of an order.
      description: Use this query to get the current state of an existing order.
      operationId: orderInquiry
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
        - $ref: '#/components/parameters/OrderIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthenticated'
        403:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'
        502:
          $ref: '#/components/responses/EndpointCommunicationError'
  /payment-schedules:
    post:
      tags:
        - Payment Schedules
      x-proxy-name: 'Schedule Creation'
      summary: Create gateway payment schedule.
      description: Use this to create a gateway payment schedule.
      operationId: createPaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
      requestBody:
        $ref: '#/components/requestBodies/PaymentSchedulesRequest'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          description: The attempted action is not valid according to gateway rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesErrorResponse'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        422:
          description: The endpoint declined the transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesErrorResponse'
        500:
          $ref: '#/components/responses/ServerError'
  /payment-schedules/{order-id}:
    get:
      tags:
        - Payment Schedules
      x-proxy-name: 'Schedule Inquiry'
      summary: View a gateway payment schedule.
      description: Use this to view an existing gateway payment schedule.
      operationId: inquiryPaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
        - $ref: '#/components/parameters/OrderIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringPaymentDetailsResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        500:
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - Payment Schedules
      x-proxy-name: 'Schedule Cancel'
      summary: Cancel a gateway payment schedule.
      description: Use this to cancel an existing gateway payment schedule.
      operationId: cancelPaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
        - $ref: '#/components/parameters/OrderIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/GatewayDeclined'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        422:
          $ref: '#/components/responses/EndpointDeclined'
        500:
          $ref: '#/components/responses/ServerError'
    patch:
      tags:
        - Payment Schedules
      x-proxy-name: 'Schedule Update'
      summary: Update a gateway payment schedule.
      description: Use this to update a gateway payment schedule.
      operationId: updatePaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
        - $ref: '#/components/parameters/OrderIdParam'
      requestBody:
        $ref: '#/components/requestBodies/PaymentSchedulesRequest'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/GatewayDeclined'
        422:
          $ref: '#/components/responses/EndpointDeclined'
        500:
          $ref: '#/components/responses/ServerError'
  /fraud/score-only:
    post:
      tags:
        - Fraud Detect
      x-proxy-name: 'Score Only'
      summary: Score a transaction for fraud.
      description: Use this to obtain a fraud score for a transaction.
      operationId: scoreOnly
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreOnlyRequest'
        description: 'Accepted request type: ScoreOnlyRequest.'
        required: true
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreOnlyResponse'
        201:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreOnlyResponse'
        400:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreOnlyResponse'
  /fraud/client-registration:
    post:
      tags:
        - Fraud Detect
      x-proxy-name: 'Client Registration'
      summary: Client registration for fraud detect transaction.
      description: Use this to register client for fraud detect transaction.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientRegistration'
        required: true
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudRegistrationResponse'
        201:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreOnlyResponse'
        400:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudRegistrationResponse'
  /fraud/payment-registration:
    post:
      tags:
        - Fraud Detect
      x-proxy-name: 'Payment Registration'
      summary: Payment registration for fraud detect transaction.
      description: Use this to register payment for fraud detect transaction.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRegistration'
        required: true
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudRegistrationResponse'
        201:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreOnlyResponse'
        400:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudRegistrationResponse'
  /payment-url:
    post:
      tags:
        - Payment URL
      x-proxy-name: 'URL Creation'
      summary: Create a payment URL.
      description: Use this to generate an embedding payment link.
      operationId: createPaymentUrl
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentUrlRequest'
        description: 'Accepted request type: PaymentUrlRequest.'
        required: true
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentUrlResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/GatewayDeclined'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        500:
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - Payment URL
      x-proxy-name: 'Delete URL'
      summary: Delete a payment URL.
      description: Use this to delete an embedding payment link.
      operationId: deletePaymentUrl
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
        - $ref: '#/components/parameters/StoreIdParam'
        - $ref: '#/components/parameters/TransactionIdQueryParam'
        - $ref: '#/components/parameters/OrderIdQueryParam'
        - $ref: '#/components/parameters/PaymentUrlIdQueryParam'
        - $ref: '#/components/parameters/TransactionTimeQueryParam'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentUrlResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/GatewayDeclined'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        500:
          $ref: '#/components/responses/ServerError'
    get:
      tags:
        - Payment URL
      x-proxy-name: 'URL Detail'
      summary: Retrieve the state of payment URL.
      description: Use this query to get the current state of an existing paymentURL.
      operationId: paymentUrlDetail
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
        - $ref: '#/components/parameters/StoreIdParam'
        - $ref: '#/components/parameters/OrderIdQueryParam'
        - $ref: '#/components/parameters/MerchantTransactionIdQueryParam'
        - $ref: '#/components/parameters/FromDateQueryParam'
        - $ref: '#/components/parameters/ToDateQueryParam'
        - $ref: '#/components/parameters/StatusQueryParam'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentUrlDetailResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/GatewayDeclined'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        500:
          $ref: '#/components/responses/ServerError'
# NA only
  /authentication/access-tokens:
    post:
      tags:
        - Authentication
      x-proxy-name: 'Access Tokens'
      summary: Generate an access token for user authentication.
      description: This is the access token generation call for authorizing subsequent financial transactions. A valid access token is required for web client requests.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessTokenRequest'
        description: Access token request
        required: true
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthenticated'
        403:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        500:
          $ref: '#/components/responses/ServerError'
  /payment-tokens:
    post:
      tags:
        - Payment Token
      x-proxy-name: 'Token Creation'
      operationId: createPaymentToken
      summary: Create a payment token from a payment card.
      description: Use this to create a payment token from a payment card.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
        - $ref: '#/components/parameters/RegionParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentTokenizationRequest'
        required: true
        description: 'Accepted request types: PaymentCardPaymentTokenizationRequest, PaymentDevicePaymentTokenizationRequest, and ReferencedOrderPaymentTokenizationRequest.'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenizationResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/PaymentTokenizationGatewayDeclined'
        422:
          $ref: '#/components/responses/PaymentTokenizationEndpointDeclined'
        500:
          $ref: '#/components/responses/ServerError'
    patch:
      tags:
        - Payment Token
      x-proxy-name: 'Token Update'
      operationId: updatePaymentToken
      summary: Update one or more payment tokens.
      description: Use this update one or more payment tokens.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
        - $ref: '#/components/parameters/RegionParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCardPaymentTokenUpdateRequest'
        required: true
        description: 'Accepted request type: PaymentCardPaymentTokenUpdateRequest.'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenUpdateResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/PaymentTokenizationGatewayDeclined'
        422:
          $ref: '#/components/responses/PaymentTokenizationEndpointDeclined'
        500:
          $ref: '#/components/responses/ServerError'
  /payment-tokens/{token-id}:
    get:
      tags:
        - Payment Token
      x-proxy-name: 'Get Token Source Details'
      operationId: getPaymentTokenDetails
      summary: Get payment card details associated with token.
      description: Get payment card details associated with token.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
        - $ref: '#/components/parameters/RegionParam'
        - $ref: '#/components/parameters/TokenIdParam'
        - name: storeId
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenizationResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - Payment Token
      x-proxy-name: 'Token Deletion'
      operationId: deletePaymentToken
      summary: Delete a payment token.
      description: Use this to delete a payment token.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
        - $ref: '#/components/parameters/RegionParam'
        - $ref: '#/components/parameters/TokenIdParam'
        - name: storeId
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenizationResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'
  /card-verification:
    post:
      tags:
      - Verification
      x-proxy-name: 'Card Verification'
      operationId: verifyCard
      summary: Verify a payment card.
      description: Use this to perform card verification for a payment card. Use the account-verification endpoint instead for this request.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardVerificationRequest'
        required: true
        description: 'Accepted request type: CardVerificationRequest.'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/GatewayDeclined'
        422:
          $ref: '#/components/responses/EndpointDeclined'
        500:
          $ref: '#/components/responses/ServerError'
  /account-verification:
    post:
      tags:
      - Verification
      x-proxy-name: 'Account Verification'
      operationId: verifyAccount
      summary: Verify a payment card or payment token.
      description: Use this to perform an account verification for a payment card or payment token.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountVerificationRequest'
        required: true
        description: 'Accepted request type: PaymentCardVerificationRequest and PaymentTokenVerificationRequest.'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/GatewayDeclined'
        422:
          $ref: '#/components/responses/EndpointDeclined'
        500:
          $ref: '#/components/responses/ServerError'
  /exchange-rates:
    post:
      tags:
        - Currency Conversion
      x-proxy-name: 'Currency Conversion Inquiry'
      summary: Generate dynamic currency conversion transactions.
      description: Sale, return and lookup exchange rate with dynamic currency conversion option.
      operationId: getExchangeRate
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateRequest'
        required: true
        description: 'Accepted request types: DCCExchangeRateRequest and DynamicPricingExchangeRateRequest.'
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthenticated'
        403:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'
        502:
          $ref: '#/components/responses/EndpointCommunicationError'
  /card-information:
    post:
      tags:
        - Information Lookup
      x-proxy-name: 'Card Info Lookup'
      summary: Card information lookup.
      description: Use this to look up card related information such as issuer country, card function and card brand.
      operationId: cardInfoLookup
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardInfoLookupRequest'
        description: 'Accepted request type: CardInfoLookupRequest.'
        required: true
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInfoLookupResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        403:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'
  /account-information:
    post:
      tags:
        - Information Lookup
      x-proxy-name: 'Account Info Lookup'
      summary: Account information lookup.
      description: Use this to look up card related information associated with a payment card or payment token.
      operationId: lookupAccount
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/RegionParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountInfoLookupRequest'
        description: 'Accepted request type: PaymentCardInfoLookupRequest and PaymentTokenInfoLookupRequest'
        required: true
      responses:
        200:
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInfoLookupResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        403:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'
components:
#-------------------------------------------------------------------------------
# Parameter Models
#-------------------------------------------------------------------------------
  parameters:
    ContentTypeParam:
      name: Content-Type
      schema:
        type: string
        enum: ['application/json']
        default: application/json
      in: header
      required: true
      description: Content type.
    ClientRequestIdParam:
      name: Client-Request-Id
      schema:
        type: string
      in: header
      required: true
      description: A client-generated ID for request tracking and signature creation, unique per request.  This is also used for idempotency control. We recommend 128-bit UUID format.
    ApiKeyParam:
      name: Api-Key
      schema:
        type: string
      in: header
      required: true
      description: Key given to merchant after boarding associating their requests with the appropriate app in Apigee.
    TimestampParam:
      name: Timestamp
      schema:
        type: integer
        format: int64
      in: header
      required: true
      description: Epoch timestamp in milliseconds in the request from a client system. Used for Message Signature generation and time limit (5 mins).
    MessageSignatureParam:
      name: Message-Signature
      schema:
        type: string
      in: header
      required: false
      description: Used to ensure the request has not been tampered with during transmission. The Message-Signature is the Base64 encoded HMAC hash (SHA256 algorithm with the API Secret as the key.) For more information, refer to the supporting documentation on the Developer Portal.
      x-link:
        name: "How to Create Message Signature"
        link: "https://docs.firstdata.com/org/gateway/node/394"
    AccessTokenParam:
      name: Authorization
      description: The access token previously generated with the access-tokens call. Use the format 'Bearer {access-token}'.
      schema:
        type: string
      in: header
      required: false
    RegionParam:
      name: Region
      description: Indicates the region where the client wants the transaction to be processed. This will override the default processing region identified for the client. Available options are argentina, brazil, germany, india and northamerica. Region specific store setup and APIGEE boarding is required in order to use an alternate region for processing.
      schema:
        type: string
      in: header
      required: false
    TransactionIdParam:
      name: transaction-id
      schema:
        type: string
      in: path
      required: true
      description: Gateway transaction identifier as returned in the parameter ipgTransactionId or merchantTransactionId.
    TransactionIdQueryParam:
      name: transactionId
      schema:
        type: string
      in: query
      required: false
      description: Gateway transaction identifier as returned in the parameter ipgTransactionId or merchantTransactionId.
    OrderIdParam:
      name: order-id
      schema:
        type: string
      in: path
      required: true
      description: Gateway order identifier as returned in the parameter orderId.
    OrderIdQueryParam:
      name: orderId
      schema:
        type: string
      in: query
      required: false
      description: Gateway order identifier as returned in the parameter orderId.
    PaymentUrlIdQueryParam:
      name: paymentUrlId
      schema:
        type: string
      in: query
      required: false
      description: The ID code from the payment URL.
    MerchantTransactionIdQueryParam:
      name: merchantTransactionId
      schema:
        type: string
      in: query
      required: false
      description: Gateway merchant identifier as returned in the parameter merchantTransactionId.
    FromDateQueryParam:
      name: fromDate
      schema:
        type: string
      in: query
      required: true
      description: The start date for payment URL in seconds since epoch.
    ToDateQueryParam:
      name: toDate
      schema:
        type: string
      in: query
      required: true
      description: The end date for payment URL search query in seconds since epoch.
    StatusQueryParam:
      name: status
      schema:
        type: string
      in: query
      required: false
      description: The status of payment URL.
    StoreIdParam:
      name: storeId
      schema:
        type: string
      in: query
      required: false
      description: An optional outlet ID for clients that support multiple stores in the same developer app.
    TokenIdParam:
      name: token-id
      schema:
        type: string
      in: path
      required: true
      description: Identifies a payment token.
    TransactionTimeQueryParam:
      name: transactionTime
      schema:
        type: string
      in: query
      required: false
      description: The transaction time in seconds since epoch.
#-------------------------------------------------------------------------------
# HTTP Response Models
#-------------------------------------------------------------------------------
  responses:
    BadRequest:
      description: The request cannot be validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthenticated:
      description: The request cannot be authenticated or was submitted with the wrong credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request was unauthorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnsupportedMediaType:
      description: Format that is not supported by the server for the HTTP method.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServerError:
      description: An unexpected internal server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    EndpointCommunicationError:
      description: There was a problem communicating with the endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    GatewayDeclined:
      description: There was a problem communicating with the endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    EndpointDeclined:
      description: There was a problem communicating with the endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TransactionGatewayDeclined:
      description: The attempted action is not valid according to gateway rules. For example, the merchant is not set-up or the order already exists.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionErrorResponse'
    TransactionEndpointDeclined:
      description: The processor declined the transaction.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionErrorResponse'
    PaymentTokenizationGatewayDeclined:
      description: The attempted action is not valid according to gateway rules. For example, when the gateway is too busy then the transaction is not processed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentTokenizationErrorResponse'
    PaymentTokenizationEndpointDeclined:
      description: The processor declined the transaction.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentTokenizationErrorResponse'
#-------------------------------------------------------------------------------
# Reusable request body definitions
#-------------------------------------------------------------------------------
  requestBodies:
    SecondaryTransaction:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecondaryTransaction'
      required: true
      description: 'Accepted request types: PostAuthTransaction, VoidTransaction, VoidPreAuthTransactions, ReturnTransaction, AchPostAuthTransaction, AchVoidTransaction, AchReturnTransaction and PreAuthSecondaryTransaction.'
    PaymentSchedulesRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentSchedulesRequest'
      required: true
      description: 'Accepted request types: PaymentMethodPaymentSchedulesRequest and ReferencedOrderPaymentSchedulesRequest.'
    AuthenticationVerificationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthenticationUpdateRequest'
      required: true
#-------------------------------------------------------------------------------
# Schemas
#-------------------------------------------------------------------------------
  schemas:
    BasicResponse:
      description: Contains apiTraceId and clientRequestId shared in all response types.
      properties:
        clientRequestId:
          description: Echoes back the value in the request header for tracking.
          type: string
          example: '30dd879c-ee2f-11db-8314-0800200c9a66'
        apiTraceId:
          description: Request identifier in API, can be used to request logs from the support team.
          type: string
          example: 'rrt-0bd552c12342d3448-b-ea-1142-12938318-7'
        responseType:
          $ref: '#/components/schemas/ResponseType'
    ErrorResponse:
      description: Response containing an error object.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    TransactionErrorResponse:
      description: Transaction response with error field included.
      allOf:
        - $ref: '#/components/schemas/TransactionResponse'
        - properties:
            error:
             $ref: '#/components/schemas/Error'
    PaymentUrlErrorResponse:
      description: Payment URL response with error field included.
      allOf:
        - $ref: '#/components/schemas/PaymentUrlResponse'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    PaymentSchedulesErrorResponse:
      description: Payment schedules response with error field included.
      allOf:
        - $ref: '#/components/schemas/PaymentSchedulesResponse'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    PaymentTokenizationErrorResponse:
      description: Payment tokenization response with error field included.
      allOf:
      - $ref: '#/components/schemas/PaymentTokenizationResponse'
      - properties:
          error:
            $ref: '#/components/schemas/Error'
    OrderErrorResponse:
      description: Order response with error field included.
      allOf:
      - $ref: '#/components/schemas/OrderResponse'
      - properties:
          error:
            $ref: '#/components/schemas/Error'
    OrderResponse:
      description: Common object for primary and secondary payment request responses.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            orderId:
              description: Note - Client Order ID if supplied by client. If not supplied by client, IPG will generate. The first 12 alphanumeric digits are passed down to Fiserv Enterprise reporting tool, Clientline and Data File Manager (DFM).
              type: string
              example: '123456'
            billing:
              $ref: '#/components/schemas/Billing'
            shipping:
              $ref: '#/components/schemas/Shipping'
            transactions:
              description: Required for some payment methods (for example, Klarna).
              type: array
              items:
                $ref: '#/components/schemas/TransactionResponse'
              example:
                - transactionState: 'AUTHORIZED'
                  ipgTransactionId: '838916029301'
                  transactionType: 'SALE'
                  transactionAmount:
                    total: 10.24
                    currency: 'USD'
                  storeId: '1109959991'
            additionalDetails:
              $ref: '#/components/schemas/AdditionalDetails'
          example:
            orderId: '123456'
            billing:
              name: 'John Doe'
              customerId: '1234567890'
              address:
                address1: '123 Main St.'
                city: 'Sandy Springs'
                region: 'Georgia'
                postalCode: '30303'
                country: 'USA'
            shipping:
              name: 'John Doe'
              contact:
                phone: '5555555555'
                mobilePhone: '5555555555'
                email: 'john@test.com'
              address:
                address1: '123 Main St.'
                city: 'Sandy Springs'
                region: 'Georgia'
                postalCode: '30303'
                country: 'USA'
    PaymentTokenUpdateResponse:
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            requestStatus:
              description: The status of the request.
              type: string
              enum: ['FAILED', 'SUCCESS', 'PARTIAL_SUCCESS']
              example: 'APPROVED'
            requestTime:
              description: Time of the request.
              type: integer
              format: int64
              example: '1554308829345'
            errors:
              type: array
              items:
                $ref: '#/components/schemas/Error'
          example:
            requestStatus: 'PARTIAL_SUCCESS'
            requestTime: '1554308829345'
            errors:
              details:
                - message: 'HOSTED_DATA_ID4773410890807324. Invalid credit card number: CreditCard [cardNumber=4773410...7324, expirationMonth=12, expirationYear=2026'
                - message: 'HOSTED_DATA_ID4773410888998888. Invalid credit card number: CreditCard [cardNumber=4773410...8888, expirationMonth=12, expirationYear=2026'
    PaymentTokenizationResponse:
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            requestStatus:
              description: The status of the request.
              type: string
              enum: ['DELETED', 'FAILED', 'SUCCESS', 'APPROVED', 'WAITING', 'VALIDATION_FAILED', 'DECLINED']
              example: 'DELETED'
            requestTime:
              description: Time of the request.
              type: integer
              format: int64
              example: '1554308829345'
            brand:
              description: Card brand.
              type: string
              example: 'VISA'
            country:
              description: Country of the card issued.
              type: string
              example: 'Germany'
            paymentToken:
              $ref: '#/components/schemas/PaymentTokenDetails'
            paymentCard:
              $ref: '#/components/schemas/PaymentCard'
            processor:
              $ref: '#/components/schemas/ProcessorData'
            orderId:
              description: Note - Client Order ID if supplied by client. If not supplied by client, IPG will generate. The first 12 alphanumeric digits are passed down to Fiserv Enterprise reporting tool, Clientline and Data File Manager (DFM).
              type: string
              example: 'R-44df6542-ae0b-4415-88e8-7f3e62cc9e5d'
            ipgTransactionId:
              description:  The response transaction ID.
              type: string
              maxLength: 14
              example: '838916029301'
            merchantTransactionId:
              description: The unique merchant transaction ID from the request header, if supplied.
              type: string
              maxLength: 40
              example: 'lsk23532djljff3'
            additionalResponseData:
              $ref: '#/components/schemas/AdditionalResponseData'
          example:
            requestStatus: 'DELETED'
            requestTime: '1554308829345'
            brand: 'VISA'
            country: 'Germany'
            paymentToken:
              value: '234ljl124l12'
              reusable: true
              declineDuplicates: false
              last4: '4997'
              brand: 'VISA'
              accountVerification: true
              type: 'PAYMENT_CARD'
            paymentCard:
              number: '5424180279791732'
              expiryDate:
                month: '03'
                year: '21'
              securityCode: '977'
            processor:
              referenceNumber: '117011573'
              authorizationCode: 'OK1852'
              responseCode: '00'
              network: 'DISC'
              associationResponseCode: '000'
              responseMessage: 'APPROVAL'
              avsResponse:
                streetMatch: 'NO_INPUT_DATA'
                postalCodeMatch: 'NO_INPUT_DATA'
                associationAvsResponse: 'Y'
              securityCodeResponse: 'MATCHED'
            orderId: 'R-44df6542-ae0b-4415-88e8-7f3e62cc9e5d'
            ipgTransactionId: '838916029301'
            merchantTransactionId: 'lsk23532djljff3'
    PaymentSchedulesResponse:
      description: Response from the gateway scheduler creation call.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            requestStatus:
              description: Result of requested operation. If it's anything other than 'SUCCESS', please refer to 400s HTTP error codes or decline. See Error object for details.
              type: string
              enum: [SUCCESS, VALIDATION_FAILED, PROCESSING_FAILED, FAILURE, DECLINED]
              example: 'SUCCESS'
            orderId:
              description: Note - Client Order ID if supplied by client. If not supplied by client, IPG will generate. The first 12 alphanumeric digits are passed down to Fiserv Enterprise reporting tool, Clientline and Data File Manager (DFM).
              type: string
              example: '123456'
            transactionResponse:
              description: Contains the details of the transaction if the schedule and transaction were created at the same time.
              $ref: '#/components/schemas/TransactionResponse'
      example:
        clientRequestId: '30dd879c-ee2f-11db-8314-0800200c9a66'
        apiTraceId: 'rrt-0bd552c12342d3448-b-ea-1142-12938318-7'
        requestStatus: 'SUCCESS'
        orderId: 'ABC12345'
    RecurringPaymentDetailsResponse:
      description: Order response containing recurring payment details.
      allOf:
      - $ref: '#/components/schemas/OrderResponse'
      - properties:
          recurringPaymentDetails:
            $ref: '#/components/schemas/RecurringPaymentDetails'
      example:
        clientRequestId: '30dd879c-ee2f-11db-8314-0800200c9a66'
        apiTraceId: 'rrt-0bd552c12342d3448-b-ea-1142-12938318-7'
        orderId: '123456'
        billing:
          name: 'John Doe'
          customerId: '1234567890'
          contact:
            email: 'John.Doe@example.com'
            phone: '5555555555'
        storeId: '1109959991'
        purchaseOrderNumber: '123055342'
        invoiceNumber: '96126098'
        creationDate: '2018-10-25'
        startDate: '2018-10-25'
        nextAttemptDate: '2018-10-25'
        transactionAmount:
          total: 10.50
          currency: 'USD'
        frequency:
          every: 3
          unit: 'DAY'
        numberOfPayments: '10'
        runCount: '3'
        state: 'Installed'
        comments: 'This scheduled payment series is to pay for the thing'
    ExchangeRateResponse:
      description: Exchange rate response.
      allOf:
      - $ref: '#/components/schemas/BasicResponse'
      - properties:
          ipgTransactionId:
            description: The response transaction ID.
            type: string
            example: '838916029301'
          requestTime:
            description: Time of the request. The used format is "yyyy-MM-dd'T'HH:mm:ss.SSSXXX".
            type: string
            example: 2018-12-05T14:13:00.000-05:00
          exchangeRateDetails:
            $ref: '#/components/schemas/ExchangeRateDetails'
      example:
        clientRequestId: '30dd879c-ee2f-11db-8314-0800200c9a66'
        apiTraceId: 'rrt-0bd552c12342d3448-b-ea-1142-12938318-7'
        requestTime: 2020-06-23T13:46:00.000+02:00
        exchangeRateDetails:
          inquiryRateId: 49150
          foreignCurrency: 'AUD'
          foreignAmount: 130.33
          exchangeRate: 1.2968
          dccOffered: 'true'
          exchangeRateSourceTimestamp: '2015-06-23T13:46:00.000+02:00'
          expirationTimestamp: '2015-06-23T13:46:00.000+02:00'
          marginRatePercentage: '3'
          exchangeRateSourceName: 'REUTERS WHOLESALE INTERBANK'
    PaymentUrlResponse:
      description: Response from an embedded payment link request.
      allOf:
      - $ref: '#/components/schemas/BasicResponse'
      - properties:
          requestStatus:
            type: string
            enum: [SUCCESS, VALIDATION_FAILED, PROCESSING_FAILED, FAILURE]
            description: Request status. If it is anything other than 'SUCCESS', please refer to 400s HTTP error codes or decline. See Error object for details.
            example: 'SUCCESS'
          orderId:
            type: string
            description: Note - Client Order ID if supplied by client. If not supplied by client, IPG will generate. The first 12 alphanumeric digits are passed down to Fiserv Enterprise reporting tool, Clientline and Data File Manager (DFM).
            example: '123456'
          paymentUrl:
            description: URL for embedded payment link.
            type: string
            example: 'https://api.firstdata.com/connect/gateway/processing?storename=123456789&oid=R-96cdbaa4-c22e-4598-a2f1-c2b5fed79ef1&paymentUrlId=d3eb74fe-cf63-47e1-b89f-52ba0cc7965c'
          transactionId:
            type: string
            description: ID code from the transaction.
            example: '123978432'
      example:
        clientRequestId: '30dd879c-ee2f-11db-8314-0800200c9a66'
        apiTraceId: 'rrt-0bd552c12342d3448-b-ea-1142-12938318-7'
        requestStatus: 'SUCCESS'
        orderId: '9723846'
        paymentUrl: 'https://hyperlink-to-payment.com'
        transactionId: '2381723322'
    PaymentUrlDetailResponse:
      description: Response from an embedded payment link request.
      allOf:
      - $ref: '#/components/schemas/BasicResponse'
      - properties:
          paymentUrlDetails:
            description: Array of payment URL details.
            type: array
            items:
              $ref: '#/components/schemas/PaymentUrlDetail'
      example:
        clientRequestId: '30dd879c-ee2f-11db-8314-0800200c9a66'
        apiTraceId: 'rrt-0bd552c12342d3448-b-ea-1142-12938318-7'
        paymentUrl: 'https://hyperlink-to-payment.com'
        orderId: '9723846'
        requestTime: '1518811817'
        status: 'Created'
    TransactionResponse:
      description: Common object for primary and secondary payment request responses.
      allOf:
      - $ref: '#/components/schemas/BasicResponse'
      - properties:
          ipgTransactionId:
            description:  The response transaction ID.
            type: string
            example: '838916029301'
          orderId:
            description: Note - Client Order ID if supplied by client. If not supplied by client, IPG will generate. The first 12 alphanumeric digits are passed down to Fiserv Enterprise reporting tool, Clientline and Data File Manager (DFM).
            type: string
            example: '123456'
          transactionType:
            $ref: '#/components/schemas/TransactionType'
          paymentToken:
            $ref: '#/components/schemas/PaymentTokenDetails'
          transactionOrigin:
            $ref: '#/components/schemas/TransactionOrigin'
          paymentMethodDetails:
            $ref: '#/components/schemas/PaymentMethodDetails'
          country:
            description: Country of the card issuer.
            type: string
            example: 'USA'
          terminalId:
            description: The terminal that is processing the transaction.
            type: string
            example: '123456'
          merchantId:
            description: The unique (on Acquirer level) mechant ID. Usually this value has been chosen from the merchant itself and will be used in communication with the endpoint.
            type: string
            maxLength: 30
            example: '199950008'
          merchantTransactionId:
            description: The unique merchant transaction ID from the request header, if supplied.
            type: string
            maxLength: 40
            example: 'lsk23532djljff3'
          transactionTime:
            description: The transaction time in seconds since epoch.
            type: integer
            format: int64
            example: '1518811817'
          approvedAmount:
            $ref: '#/components/schemas/Amount'
          transactionStatus:
            description: Represents the status of a transaction immediately following the original processing request. This value is not stored for the transaction and is only available in the response when the transaction is processed. TransactionStatus is not returned on either the transaction inquiry or on the order inquiry.
            type: string
            enum: [APPROVED, WAITING, PARTIAL, VALIDATION_FAILED, PROCESSING_FAILED, DECLINED]
            example: 'APPROVED'
          transactionState:
            description: Shows the state of the current transaction.
            type: string
            enum: [AUTHORIZED, CAPTURED, DECLINED, CHECKED, COMPLETED_GET, INITIALIZED, PENDING, READY, TEMPLATE, SETTLED, VOIDED, WAITING]
            example: 'AUTHORIZED'
          paymentAccountReferenceNumber:
            description: Payment Account Reference Number from response, if supplied.
            type: string
            maxLength: 30
            example: '1234001AB101112131415161718CV'
          secure3dResponse:
            $ref: '#/components/schemas/Secure3dResponse'
          standinResponseDetails:
            $ref: '#/components/schemas/StandinResponseDetails'
          redirectURL:
            description: The endpoint redirection URL.
            type: string
            example: 'http://pay.issuer-bank.com/sessionID=123&sharedKey=456'
          authenticationResponse:
            $ref: '#/components/schemas/Secure3DAuthenticationResponse'
          schemeTransactionId:
            description: The transaction ID received from schemes for the initial transaction of card on file flows.
            type: string
            maxLength: 40
            example: '019078743804756'
          processor:
            $ref: '#/components/schemas/ProcessorData'
          additionalDetails:
            $ref: '#/components/schemas/AdditionalTransactionDetails'
          accountUpdaterResponse:
            $ref: '#/components/schemas/AccountUpdaterResponse'
          achResponse:
            $ref: '#/components/schemas/AchResponse'
          currencyConversionResponse:
            $ref: '#/components/schemas/CurrencyConversionResponse'
          steps:
            description: 'Steps to be performed by the payer.'
            type: array
            items:
              $ref: '#/components/schemas/PaymentStepRequest'
      example:
        clientRequestId: '30dd879c-ee2f-11db-8314-0800200c9a66'
        apiTraceId: 'rrt-0c80a3403e2c2def0-d-ea-28805-6810951-2'
        ipgTransactionId: '838916029301'
        transactionType: 'SALE'
        transactionTime: 1518811817
        approvedAmount:
          total: 10.24
          currency: 'USD'
        transactionStatus: 'APPROVED'
        schemeTransactionId: '019078743804756'
        processor:
          responseCode: '00'
          responseMessage: 'APPROVED'
          authorizationCode: 'OK7118'
    RecurringPaymentDetails:
      description: Details about existing gateway schedule.
      properties:
        storeId:
          description: Store ID number.
          type: string
          maxLength: 20
          example: '1109959991'
        purchaseOrderNumber:
          description: Purchase order number.
          type: string
          example: '123055342'
        invoiceNumber:
          description: Invoice number.
          type: string
          example: '96126098'
        creationDate:
          description: Date recurring payment was created.
          type: string
          example: '2018-10-25'
        startDate:
          description: Date of mandate signature.
          type: string
          example: '2018-10-25'
        nextAttemptDate:
          description: Date of next transaction process attempt.
          type: string
          example: '2018-10-25'
        transactionAmount:
          $ref: '#/components/schemas/Amount'
        paymentMethodDetails:
          $ref: '#/components/schemas/PaymentMethodDetails'
        frequency:
          $ref: '#/components/schemas/Frequency'
        numberOfPayments:
          description: Number of times the recurring payment will process.
          type: integer
          format: int32
          minimum: 1
          maximum: 999
          example: 10
        runCount:
          description: Times the recurring payment has already run.
          type: integer
          format: int32
          minimum: 0
          maximum: 999
          example: 10
        state:
          description: State of the recurring payment.
          type: string
          enum: [Installed, Inactivated, Cancelled]
          example: 'Installed'
        comments:
          description: User supplied comments.
          type: string
          example: 'This scheduled payment series is to pay for the thing.'
      example:
        storeId: '1109959991'
        invoiceNumber: '96126098'
        creationDate: '2018-10-25'
        startDate: '2018-10-25'
        transactionAmount:
          total: 10.24
          currency: 'USD'
        frequency:
          every: 3
          unit: 'DAY'
        numberOfPayments: 10
        runCount: 3
        state: 'Installed'
        comments: 'This scheduled payment series is to pay for the thing.'
    PaymentMethodPaymentSchedulesRequest:
      description: Request to create a new payment schedule using a payment method.
      allOf:
        - $ref: '#/components/schemas/PaymentSchedulesRequest'
        - type: object
          required:
            - paymentMethod
          properties:
            paymentMethod:
              $ref: '#/components/schemas/PaymentCardPaymentMethod'
      example:
        requestType: 'PaymentMethodPaymentSchedulesRequest'
        transactionAmount:
          total: "25.24"
          currency: 'GBP'
        startDate: '2021-12-31'
        frequency:
          every: 1
          unit: 'MONTH'
        paymentMethod:
          paymentCard:
            number: '5424180279791732'
            expiryDate:
              month: '12'
              year: '25'
            securityCode: '977'
            brand: 'VISA'
    ReferencedOrderPaymentSchedulesRequest:
      description: Request to create a new payment schedule using a referenced order ID.
      allOf:
        - $ref: '#/components/schemas/PaymentSchedulesRequest'
        - type: object
          required:
            - referencedOrderId
          properties:
            referencedOrderId:
              description: Order ID used to create recurring payment from existing transaction.
              type: string
              pattern: '^(?!\s*$).+'
              example: 'R-f9c2c198-b7cc-491a-a711-93d22fd0e589'
      example:
        requestType: 'ReferencedOrderPaymentSchedulesRequest'
        referencedOrderId: 'R-f9c2c198-b7cc-491a-a711-93d22fd0e589'
        startDate: '2021-12-31'
        numberOfPayments: 10
        maximumFailures: 1
        invoiceNumber: '96126098'
        purchaseOrderNumber: '123055342'
        transactionOrigin: 'ECOM'
        dynamicMerchantName: 'MyWebsite'
        frequency:
          every: 1
          unit: 'MONTH'
        transactionAmount:
          total: "25.24"
          currency: 'GBP'
        clientLocale:
          language: 'EN'
          country: 'USA'
    PaymentSchedulesRequest:
      description: Request to create a gateway schedule. Abstract class, do not use this class directly, use one of its children.
      required:
        - requestType
        - transactionAmount
        - startDate
        - frequency
      discriminator:
        propertyName: requestType
      properties:
        requestType:
          description: Object name of the payment schedules request.
          type: string
          example: 'PaymentMethodPaymentSchedulesRequest'
        storeId:
          description: Store ID number.
          type: string
          maxLength: 20
          example: '1109959991'
        startDate:
          description: Date of mandate signature.
          type: string
          format: date
          example: '2018-10-25'
        numberOfPayments:
          description: Number of times the recurring payment will process.
          type: integer
          format: int32
          minimum: 1
          maximum: 999
          example: 10
        maximumFailures:
          description: Number of failures that can be encountered before re-tries cease.
          type: integer
          format: int32
          minimum: 1
          maximum: 999
          example: 1
        invoiceNumber:
          description: Invoice number.
          type: string
          example: '96126098'
        purchaseOrderNumber:
          description: Purchase order number.
          type: string
          example: '123055342'
        transactionOrigin:
          $ref: '#/components/schemas/TransactionOrigin'
        dynamicMerchantName:
          description: Dynamic merchant name for the cardholder's statement.
          type: string
          example: 'MyWebsite'
        frequency:
          $ref: '#/components/schemas/Frequency'
        transactionAmount:
          $ref: '#/components/schemas/Amount'
        clientLocale:
          $ref: '#/components/schemas/ClientLocale'
        orderId:
          description: Note - Client Order ID if supplied by client. If not supplied by client, IPG will generate. The first 12 alphanumeric digits are passed down to Fiserv Enterprise reporting tool, Clientline and Data File Manager (DFM).
          type: string
          example: '123456'
        billing:
          $ref: '#/components/schemas/Billing'
        shipping:
          $ref: '#/components/schemas/Shipping'
        comments:
          description: User supplied comments.
          type: string
          example: 'This scheduled payment series is to pay for the thing.'
      example:
        requestType: 'PaymentMethodPaymentSchedulesRequest'
        startDate: '2021-12-31'
        numberOfPayments: 10
        maximumFailures: 1
        invoiceNumber: '96126098'
        purchaseOrderNumber: '123055342'
        transactionOrigin: 'ECOM'
        dynamicMerchantName: 'MyWebsite'
        frequency:
          every: 1
          unit: 'MONTH'
        paymentMethod:
          paymentCard:
            number: "5426064000424979"
            expiryDate:
              month: "12"
              year: "25"
            securityCode: "147"
            cardFunction: "CREDIT"
        transactionAmount:
          total: "25.24"
          currency: 'GBP'
        clientLocale:
          language: 'EN'
          country: 'USA'
    Frequency:
      description: How often payments are sent.
      required:
        - every
        - unit
      properties:
        every:
          description: Rate of frequency.
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          example: 10
        unit:
          description: Unit which defines the frequency.
          type: string
          enum: [DAY, WEEK, MONTH, YEAR]
          example: 'MONTH'
      example:
        every: 3
        unit: 'DAY'
    ClientLocale:
      description: Country and language of client.
      required:
        - language
        - country
      properties:
        language:
          description: Language used by client.
          type: string
          pattern: '^(?!\s*$).+'
          example: 'en'
        country:
          description: Country of the client.
          type: string
          pattern: '^(?!\s*$).+'
          example: 'GB'
      example:
        language: 'en'
        country: 'GB'
    AccessTokenRequest:
      description: Access token generation request.
      required:
        - domain
        - token
        - publicKeyRequired
      properties:
        domain:
          description: Domain name.
          type: string
          example: 'somedomain.com'
        token:
          description: The token value.
          type: string
          example: 'gfgF92JHDJFjxcJHCQ23IbI12D'
        publicKeyRequired:
          description: Indicates whether public key is requested or not.
          type: boolean
          example: true
      example:
        domain: 'somedomain.com'
        token: 'gfgF92JHDJFjxcJHCQ23IbI12D'
        publicKeyRequired: false
    AccessTokenResponse:
      description: Access token generation response.
      properties:
        tokenId:
          description: Access token for authentication.
          type: string
          example: 'gliF92ypj9cKRWUP8lpRIbI3bhNf'
        status:
          description: The token status.
          type: string
          example: 'ACTIVE'
        issuedOn:
          description: Access token issued time in milliseconds.
          type: string
          example: '1579021570941'
        expiresInSeconds:
          description: Access token expiration time.
          type: string
          example: '899'
        publicKeyBase64:
          description: Public key to encrypt data.
          type: string
          example: 'LS0tLS1CRUdJTiBQLbnFSNXRnVmc4U08LS1FTkQgUFVCTElDIEtFWS0tLS0t'
        algorithm:
          description: Encyption algorithym. One way ECDH 256 bit key.
          type: string
          example: 'RSA/NONE/PKCS1PADDING'
        clientRequestId:
          description: Echoes back the value from the request header for tracking.
          type: string
          example: '30dd879c-ee2f-11db-8314-0800200c9a66'
      example:
        tokenId: 'gliF92ypj9cKRWUP8lpRIbI3bhNf'
        status: 'ACTIVE'
        issuedOn: '1579021570941'
        expiresInSeconds: '899'
        publicKeyBase64: 'LS0tLS1CRUdJTiBQLbnFSNXRnVmc4U08LS1FTkQgUFVCTElDIEtFWS0tLS0t'
        algorithm: 'RSA/NONE/PKCS1PADDING'
        clientRequestId: '30dd879c-ee2f-11db-8314-0800200c9a66'
    CardVerificationRequest:
      description: Request to verify card validity.
      required:
      - paymentCard
      properties:
        paymentCard:
          $ref: '#/components/schemas/PaymentCard'
        billingAddress:
          $ref: '#/components/schemas/Address'
        storeId:
          description: An optional outlet ID for clients that support multiple stores in the same app.
          type: string
          maxLength: 20
          example: '12345500000'
      example:
        paymentCard:
          number: '4035874000424977'
          expiryDate:
            month: '12'
            year: '25'
          securityCode: '977'
        billingAddress:
          address1: '5565 Glenridge Conn'
          city: 'Atlanta'
          postalCode: '30342'
          country: 'USA'
    AccountVerificationRequest:
      description: Request to verify payment card or payment token. Abstract class, do not use this class directly, use one of its children.
      type: object
      required:
        - requestType
      discriminator:
        propertyName: requestType
      properties:
        requestType:
          description: Object name of the account verification request.
          type: string
          example: 'PaymentCardVerificationRequest'
        billingAddress:
          $ref: '#/components/schemas/Address'
        storeId:
          description: An optional outlet ID for clients that support multiple stores in the same app.
          type: string
          maxLength: 20
          example: '12345500000'
        merchantTransactionId:
            description: The unique merchant transaction ID from the request, if supplied.
            type: string
            maxLength: 40
            example: 'lsk23532djljff3'
        additionalDetails:
          $ref: '#/components/schemas/AdditionalDetails'
      example:
        requestType: 'PaymentCardVerificationRequest'
        paymentCard:
          number: '4035874000424977'
          expiryDate:
            month: '12'
            year: '25'
          securityCode: '977'
        billingAddress:
          address1: '5565 Glenridge Conn'
          city: 'Atlanta'
          postalCode: '30342'
          country: 'USA'
    PaymentCardVerificationRequest:
      description: Used to request account verification using a payment card. The expiryDate in paymentCard object is required to perform a PaymentCardVerificationRequest.
      allOf:
      - $ref: '#/components/schemas/AccountVerificationRequest'
      - type: object
        required:
        - paymentCard
        properties:
          paymentCard:
            $ref: '#/components/schemas/PaymentCard'
        example:
          requestType: 'PaymentCardVerificationRequest'
          paymentCard:
            number: '4035874000424977'
            expiryDate:
              month: '12'
              year: '25'
            securityCode: '977'
          billingAddress:
            address1: '5565 Glenridge Conn'
            city: 'Atlanta'
            postalCode: '30342'
            country: 'USA'
    PaymentTokenVerificationRequest:
      description: Used to request account verification using a payment token.
      allOf:
      - $ref: '#/components/schemas/AccountVerificationRequest'
      - type: object
        required:
        - paymentToken
        properties:
          paymentToken:
            $ref: '#/components/schemas/UsePaymentToken'
        example:
          requestType: 'PaymentTokenVerificationRequest'
          paymentToken:
            value: '1235325235236'
            function: 'DEBIT'
            securityCode: '977'
          billingAddress:
            address1: '5565 Glenridge Conn'
            city: 'Atlanta'
            postalCode: '30342'
            country: 'USA'
    ReferencedOrderPaymentTokenizationRequest:
      description: Used to generate payment tokens with an existing order ID.
      allOf:
      - $ref: '#/components/schemas/PaymentTokenizationRequest'
      - type: object
        required:
        - referencedOrderId
        properties:
          referencedOrderId:
            description: Retrieves the payment instrument information from an existing order.
            type: string
            pattern: '^(?!\s*$).+'
            example: 'R-f9c2c198-b7cc-491a-a711-93d22fd0e589'
      example:
        requestType: ReferencedOrderPaymentTokenizationRequest
        createToken:
          value: '234ljl124l12'
          reusable: true
          declineDuplicates: false
        referencedOrderId: 'R-f9c2c198-b7cc-491a-a711-93d22fd0e589'
        accountVerification: true
    PaymentCardPaymentTokenizationRequest:
      description: Used to generate payment tokens during payment.
      allOf:
      - $ref: '#/components/schemas/PaymentTokenizationRequest'
      - type: object
        required:
        - paymentCard
        properties:
          paymentCard:
            $ref: '#/components/schemas/PaymentCard'
      example:
        requestType: 'PaymentCardPaymentTokenizationRequest'
        paymentCard:
          number: '4035874000424977'
          expiryDate:
            month: '12'
            year: '25'
          securityCode: '977'
        billingAddress:
          address1: '5565 Glenridge Conn'
          city: 'Atlanta'
          postalCode: '30342'
          country: 'USA'
        createToken:
          value: '234ljl124l12'
          reusable: true
          declineDuplicates: false
        accountVerification: true
    PaymentDevicePaymentTokenizationRequest:
      description: Used to generate payment tokens during payment using a payment device.
      allOf:
      - $ref: '#/components/schemas/PaymentTokenizationRequest'
      - type: object
        required:
        - paymentDevice
        properties:
          paymentDevice:
            $ref: '#/components/schemas/PaymentDevice'
      example:
        requestType: 'PaymentDevicePaymentTokenizationRequest'
        paymentDevice:
          deviceType: 'SWIPE'
          data: '02A600C0170018008292;5424********1732=1810?*B73CD8C26233D4FFEC5500ED394439D97DDA5F530942D21D0000000000000000000000000000000000000000363434543035353734326299492410027300000260DC03'
          securityCode: '977'
          cardholderName: 'First Cardholder'
          cardFunction: 'CREDIT'
          brand: 'VISA'
        billingAddress:
          address1: '5565 Glenridge Conn'
          city: 'Atlanta'
          postalCode: '30342'
          country: 'USA'
        createToken:
          value: '234ljl124l122'
          reusable: true
          declineDuplicates: false
        accountVerification: true
    PaymentCardPaymentTokenUpdateRequest:
      description: Request to update payment token for one or more cards.
      discriminator:
        propertyName: requestType
      required:
      - requestType
      - paymentTokens
      properties:
        requestType:
          description: Object name of tokenization request.
          type: string
          example: 'PaymentCardPaymentTokenUpdateRequest'
        storeId:
          description: An optional outlet ID for clients that support multiple stores in the same app.
          type: string
          maxLength: 20
          example: '12345500000'
        paymentTokens:
          description: List of payment tokens to be updated in the request.
          type: array
          minItems: 1
          maxItems: 1000
          items:
            $ref: '#/components/schemas/UpdatePaymentToken'
      example:
        requestType: 'PaymentCardPaymentTokenUpdateRequest'
        paymentTokens:
         - value: '1751905117310026'
           reusable: true
           declineDuplicates: false
           paymentCard:
             number: '5424180279791732'
             expiryDate:
               month: '03'
               year: '25'
             securityCode: '977'
         - value: '9877hkhk68688888ffgh'
           reusable: true
           declineDuplicates: false
           paymentCard:
             number: '4012000033330026'
             expiryDate:
               month: '10'
               year: '22'
             securityCode: '123'
    PaymentTokenizationRequest:
      description: Used to generate payment tokens. Abstract class, do not use this class directly, use one of its children.
      discriminator:
        propertyName: requestType
      required:
      - requestType
      - createToken
      properties:
        requestType:
          type: string
          description: Object name of tokenization request.
          example: 'PaymentCardPaymentTokenizationRequest'
        storeId:
          description: An optional outlet ID for clients that support multiple stores in the same app.
          type: string
          maxLength: 20
          example: '12345500000'
        billingAddress:
          $ref: '#/components/schemas/Address'
        createToken:
          $ref: '#/components/schemas/CreatePaymentToken'
        accountVerification:
          description: If the account should be verified prior to token creation.
          type: boolean
          default: false
          example: true
        merchantTransactionId:
            description: The unique merchant transaction ID from the request, if supplied.
            type: string
            maxLength: 40
            example: 'lsk23532djljff3'
        additionalDetails:
          $ref: '#/components/schemas/AdditionalDetails'
      example:
        requestType: 'PaymentCardPaymentTokenizationRequest'
        paymentCard:
          number: '4012000033330026'
          expiryDate:
            month: '12'
            year: '24'
        createToken:
          reusable: true
          declineDuplicates: false
        accountVerification: false
        additionalDetails:
          operatorId: 'OPERATOR_ID_123XXX'
          salesSystemId: 'W-EU-H3866-FLS2'
    UsePaymentToken:
      description: Payment token usage details.
      required:
        - value
      properties:
        value:
          description: Client-supplied payment token value.
          type: string
          pattern: '^(?!\s*$).+'
          example: '1235325235236'
        tokenOriginStoreId:
          description: The ID of a same store (or) sibling store in a hierarchy for which the token was originally created.
          type: string
          maxLength: 20
          example: '12345500001'
        function:
          $ref: '#/components/schemas/CardFunction'
        securityCode:
          description: Card verification value/number.
          type: string
          minLength: 3
          maxLength: 4
          example: '977'
        expiryDate:
          $ref: '#/components/schemas/Expiration'
      example:
        value: '1235325235236'
        tokenOriginStoreId: '12345500001'
        function: 'DEBIT'
        securityCode: '977'
        expiryDate:
          month: '12'
          year: '24'
    PaymentTokenDetails:
      description: Response details for payment token creation.
      allOf:
      - $ref: '#/components/schemas/CreatePaymentToken'
      - type: object
        properties:
          last4:
            description: The last 4 numbers of a payment card.
            type: string
            example: '4997'
          brand:
            description: Card brand, only for tokenization with payment.
            type: string
            example: 'VISA'
          accountVerification:
            description: If the account the token was created from has been verified.
            type: boolean
            example: true
          type:
            description: 'Inidcates the type of tokenization source.'
            type: string
            example: 'PAYMENT_CARD'
      example:
        value: '234ljl124l12'
        reusable: true
        declineDuplicates: false
        last4: '4997'
        brand: 'VISA'
        accountVerification: true
        type: 'PAYMENT_CARD'
    CreatePaymentToken:
      description: Use this model to create a payment token.
      properties:
        value:
          description: Client-supplied payment token value. Only applicable for DataVault tokenization scheme.
          type: string
          example: '234ljl124l12'
        reusable:
          description: If the token is reusable.
          type: boolean
          default: true
          example: true
        declineDuplicates:
          description: Decline duplicate payment info if client token is supplied.
          type: boolean
          default: false
          example: false
      example:
          value: '234ljl124l12'
          reusable: true
          declineDuplicates: false
    UpdatePaymentToken:
      description: Use this model to Update payment token.
      required:
      - value
      - paymentCard
      properties:
        value:
          description: Client-supplied payment token value.
          type: string
          example: '234ljl124l12'
        reusable:
          description: If the token is reusable.
          type: boolean
          default: true
          example: true
        declineDuplicates:
          description: Decline duplicate payment info if client token is supplied.
          type: boolean
          default: false
          example: false
        paymentCard:
          $ref: '#/components/schemas/PaymentCard'
      example:
        value: '3425345345yygg'
        reusable: true
        declineDuplicates: false
        paymentCard:
          number: '5424180279791732'
          expiryDate:
            month: '12'
            year: '24'
            securityCode: '977'
    CardFunction:
      description: Card function. This field is required when performing transactions for Brazil merchants.
      type: string
      enum: [CREDIT, DEBIT, PREPAID, VOUCHER, UNDEFINED]
      example: 'DEBIT'
    ResponseType:
      description: The type of the response.
      type: string
      enum: [BadRequest, Unauthenticated, Unauthorized, NotFound, GatewayDeclined, EndpointDeclined, ServerError, EndpointCommunicationError, UnsupportedMediaType]
      example: 'Unauthenticated'
    ProcessorData:
      description: Model for processor data.
      properties:
        referenceNumber:
          description: Reference transaction ID.
          type: string
          example: '811720726601'
        authorizationCode:
          description: Code returned to confirm transaction.
          type: string
          example: 'OK7118'
        responseCode:
          description: Response code from endpoints.
          type: string
          example: '00'
        network:
          description: Network used for transaction.
          type: string
          example: 'NYCE'
        associationResponseCode:
          description: Raw response code from issuer.
          type: string
          example: '000'
        responseMessage:
          description: Message returned from endpoints.
          type: string
          example: 'Amount specified exceeds allowable limit.'
        avsResponse:
          $ref: '#/components/schemas/AVSResponse'
        cardholderInfoResponse:
          $ref: '#/components/schemas/CardholderInfoResponse'
        securityCodeResponse:
          description: Code returned for CVV.
          type: string
          enum: [MATCHED, NOT_MATCHED, NOT_PROCESSED, NOT_PRESENT, NOT_CERTIFIED, NOT_CHECKED]
          example: 'NOT_MATCHED'
        merchantAdviceCodeIndicator:
          description: Code to map merchant advice code to ISO specification.
          type: string
          pattern: '[0-9]{2}'
          example: '01'
        responseIndicator:
          description: Indicates whether the transaction was routed through the payment card's own network or through a different network.
          type: string
          example: '0100'
        debitReceiptNumber:
          description:  Receipt number from debit network provider.
          type: string
          example: '123456'
        transactionIntegrityClass:
          description:  MasterCard provided Transaction Integrity Class for Point of Sale (POS) Purchase and Purchase with Cash Back transactions initiated on the Authorization Platform.
          type: string
          example: 'A1'
      example:
        responseCode: '00'
        responseMessage: 'APPROVED'
        authorizationCode: 'OK7118'
        network: 'NYCE'
    Error:
      description: Error information.
      properties:
        code:
          description: Uniquely identifies an error condition. Client applications need to read and handle errors based on this.
          type: string
          example: '2303'
        message:
          description: A generic description of the error condition.
          type: string
          example: 'Invalid credit card number'
        details:
          description: Detailed information about message format errors.
          type: array
          items:
            type: object
            properties:
              field:
                description: The property or attribute associated with the error.
                type: string
                example: 'PaymentCard.number'
              message:
                description: Information specific to a property or attribute.
                type: string
                example: 'may not be null'
      example:
        code: '2303'
        message: 'Invalid credit card number'
    PaymentCardForcedTicketTransaction:
      description: Request to create forced ticket primary transaction.
      allOf:
      - $ref: '#/components/schemas/PrimaryTransaction'
      - type: object
        required:
        - paymentMethod
        - referenceNumber
        properties:
          paymentMethod:
            $ref: '#/components/schemas/PaymentCardPaymentMethod'
          referenceNumber:
            description: Stores the six-digit reference number you have received as the result of a successful external authorization (e.g. by phone). The gateway needs this number for uniquely mapping a ForcedTicket transaction to a previously performed external authorization.
            type: string
            maxLength: 8
            pattern: '^(?!\s*$).+'
            example: '123455'
      example:
        transactionAmount:
          total: '12.04'
          currency: 'USD'
        requestType: 'PaymentCardForcedTicketTransaction'
        paymentMethod:
          paymentCard:
            number: '5424180279791732'
            securityCode: '977'
            expiryDate:
              month: '12'
              year: '24'
        referenceNumber: '123455'
    PaymentCardPayerAuthTransaction:
      description: Request to create payer auth primary transaction.
      allOf:
      - $ref: '#/components/schemas/PrimaryTransaction'
      - type: object
        required:
        - paymentMethod
        properties:
          paymentMethod:
            $ref: '#/components/schemas/PaymentCardPaymentMethod'
          currencyConversion:
            $ref: '#/components/schemas/CurrencyConversion'
          authenticationRequest:
            $ref: '#/components/schemas/AuthenticationRequest'
          authenticationResult:
            $ref: '#/components/schemas/AuthenticationResult'
      example:
        transactionAmount:
          total: '12.04'
          currency: 'USD'
        requestType: 'PaymentCardPayerAuthTransaction'
        paymentMethod:
          paymentCard:
            number: '5424180279791732'
            securityCode: '977'
            expiryDate:
              month: '12'
              year: '24'
    PaypalCreditTransaction:
      description: Request to create credit transaction using PayPal.
      allOf:
      - $ref: '#/components/schemas/PrimaryTransaction'
      - type: object
        required:
        - paymentMethod
        properties:
          paymentMethod:
            $ref: '#/components/schemas/PayPalPaymentMethod'
      example:
        transactionAmount:
[...]
